@import '../../../styles/new/_variables';

.user-profile {
  margin: 50px auto 0;
  width: 1200px;
}

.user-profile__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user-profile__header-container {
  align-items: center;
  display: flex;
}

.user-profile__avatar {
  align-items: center;
  background-color: #b0b6bd;
  border-radius: 100%;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.user-profile__user-information {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.user-profile__name {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}

.user-profile__role {
  color: #b0b6bd;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.user-profile__create-event-btn {
  background-color: $color-magento;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  height: 40px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.035em;
  padding: 0 25px;
  text-transform: uppercase;
}

.user-profile__create-event-btn:active,
.user-profile__create-event-btn:hover {
  cursor: pointer;
}
