@import '../../../styles/app';
@import '../../../styles/new/_variables';

.input-component__input {
  background-color: transparent;
  border: 1px solid $color-gray-thin;
  border-radius: 2px;
  color: $color-gray-thin;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 20px 20px;
  transition: color 250ms ease,
              border-color 250ms ease;
  width: 100%;
}

.input-component__input-wrapper {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.input-component__input:focus {
  border-color: $color-gray-medium;
  color: $color-gray-medium;
  outline: none;
}

.input-component__input:focus + .input-component__label {
  color: $color-gray-medium;
  font-size: 10px;
  opacity: 0.5;
  top: 12px;
}

.input-component__input:valid {
  border-color: $color-magento;
  color: $color-magento;
}

.input-component__input:valid + .input-component__label {
  color: $color-magento;
}

.input-component__label {
  color: $color-gray-thin;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0.025em;
  line-height: 11px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: top 250ms ease,
              font-size 250ms ease,
              color 250ms ease;
  z-index: -1;
}

.input-component__label--has-content {
  opacity: 0.5;
  top: 12px;
}

.input_component__error {
  color: $color-gray-medium;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.025em;
  margin: 0 0 20px 20px;
}
