$color-gray-light: #ececec;
$color-gray-thin: #b0b6bd;
$color-gray-regular: #373a42;
$color-gray-medium: #373a42;
$color-blue-medium: #474747;
$color-blue: #f2446d;//#46d6ea;
$color-magento: #f2446d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}