* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  border: none !important;
  border-bottom-color: transparent !important;
  border-image-width: 0 !important;
  outline: none;
  border-style: none;
}

.events__container {
  margin: 0 auto;
  width: 1280px;
}

.events__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.events__headline {
  color: #707070;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.events__month-switcher {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.events__month-name {
  color: #707070;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.035em;
  margin-right: 10px;
  text-transform: uppercase;
}

.events__month-button {
  background-color: #707070;
  border: none;
  border-radius: 3px;
  height: 28px;
  width: 28px;
}

.events__month-button--previous {
  margin-right: 5px;
}

.events__list {
  display: flex;
}

.event {
  margin-right: 50px;
  width: 300px;
}

.event__image {
  height: 170px;
  width: 100%;
}

.event__tags {
  padding: 10px 0 15px;
}

.event__tag {
  background-color: #707070;
  border-radius: 3px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 900;
  display: inline-block;
  letter-spacing: 0.05em;
  margin-right: 10px;
  padding: 3px 8px;
  text-transform: uppercase;
}

.event__title {
  color: #707070;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.025em;
  line-height: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.event__description {
  color: #707070;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 22px;
}

.event__enrolled-users {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.event__enrolled-user-image {
  background-color: #707070;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.event__enrolled-user-image--2 {
  left: -10px;
  opacity: 0.75;
  position: relative;
  z-index: -1;
}

.event__enrolled-user-image--3 {
  left: -20px;
  opacity: 0.5;
  position: relative;
  z-index: -1;
}

.event__enrolled-user-image--4 {
  left: -30px;
  opacity: 0.25;
  position: relative;
  z-index: -1;
}

.event__enrolled-user-link {
  color: #707070;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
}
