@import '../../../styles/app';
@import '../../../styles/new/_variables';

button:active,
button:focus {
  outline: none;
}

.sign-up__container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.3fr;
  height: calc(100vh - 60px);
}

.sign-up__image-section {
  height: 100%;
  width: 100%;
}

.sign-up__image {
  background-color: #707070; 
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.sign-up__text-section {
  padding: 0 80px 0 100px;
}

.sign-up__text-section--left {
  align-items: flex-start;
}

.sign-up__header-text {
  color: $color-blue-medium;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
  margin-bottom: 30px;
}

.sign-up__description-text {
  color: #b0b6bd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 70px;
}

.sign-up__header-text--left,
.sign-up__description-text--left {
  text-align: left;
}

.sign-up__email {
  margin-bottom: 20px;
  position: relative;
  width: 435px;
}

.sign-up__input {
  border: 1px solid $color-magento;
  border-radius: 3px;
  color: $color-magento;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  letter-spacing: 0.025em;
  padding: 0 90px 0 20px;
  width: 100%;
}

.sign-up__input {
  outline: none;
}

.sign-up__input::placeholder {
  color:#b0b6bd;
  opacity: 0.75;
}

.sign-up__input--second-form {
  margin-bottom: 25px;
}

.sign-up__submit-email {
  background-color: $color-magento;
  border: none;
  border-radius: 0 3px 3px 0; 
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;  
}

.sign-up__submit-email:active,
.sign-up__submit-email:hover {
  cursor: pointer;
}

.sign-up__submit-email--succes {
  border-radius: 3px;
  width: 100%;
}

.sign-up__submit {
  background-color: $color-magento;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  height: 50px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  width: 435px;
}

.sign-up__submit:active,
.sign-up__submit:hover {
  cursor: pointer;
}

.sign-up__submit--google {
  opacity: 0.5;
}

.sign-up__submit--google:active,
.sign-up__submit--google:hover {
  cursor: not-allowed;
}

.sign-up__label {
  color: #707070;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.sign-up__label--green {
  color: green;
}

.sign-up__label--red {
  color: red;
}